body {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-align: left;
  margin: 0;
  color: #191919;
  letter-spacing: 0.005em;
  overflow: hidden;
  padding: 20px;
}
p {
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  opacity: 0.7;
  margin-top: 0px;
  letter-spacing: 0.005em;
}
.container {
  margin: 0 15px;
}
.version {
  font-size: 10px;
  opacity: 0.5;
  text-align: center;
  margin-top: 15px;
}
button {
  display: inline-block;
  height: 40px;
  margin-top: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;;
  outline: none;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 3px 0 0 black;
  text-align: center;
  position: relative;
}
button:active {
  top: 2px;
  box-shadow: 0 1px 0 0 black;;
}